# InfluxDB local dev environment
task1_influxdb/.env
task1_influxdb/influxdb-data/

# Kafka and Flink local dev environment
task2_kafka_flink/*.csv

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db