# InfluxDB local dev environment
task1_influxdb/.env
task1_influxdb/influxdb-data/

# Kafka and Flink local dev environment
task2_kafka_flink/*.csv

# Spark local dev environment
task3_spark/data/
task3_spark/output/spark-events/
docs/

# Neo4j local dev environment
task4_neo4j/data/
task4_neo4j/logs/
task4_neo4j/import/
task4_neo4j/neo4j-data/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db