INFLUXDB_INIT_USERNAME=admin
INFLUXDB_INIT_PASSWORD=asd@1234
INFLUXDB_INIT_ORG=bigdata-coursework
INFLUXDB_INIT_BUCKET=fairbanks-climate
INFLUXDB_INIT_ADMIN_TOKEN=change-me-to-a-secure-token

INFLUX_BROWSER_URL=http://localhost:8086
INFLUX_URL=http://influxdb:8086
INFLUX_TOKEN=change-me-to-a-secure-token
INFLUX_ORG=bigdata-coursework
INFLUX_BUCKET=climate-data
DATA_FILE=alaska_fairbanks_airports_hourly_climate.csv
STATION=Fairbanks