INFLUXDB_INIT_USERNAME=admin
INFLUXDB_INIT_PASSWORD=change-me
INFLUXDB_INIT_ORG=bigdata-coursework
INFLUXDB_INIT_BUCKET=fairbanks-airport-wind
INFLUXDB_INIT_ADMIN_TOKEN=change-me-to-a-secure-token

INFLUX_BROWSER_URL=http://localhost:8086
INFLUX_URL=http://influxdb:8086
INFLUX_TOKEN=change-me-to-a-secure-token
INFLUX_ORG=bigdata-coursework
INFLUX_BUCKET=wind-data
DATA_FILE=/data/alaska_airports_hourly_winds_PAFA.csv
STATION=PAFA